[defaults]
inventory = inventory/hosts.yml
roles_path = roles
host_key_checking = False
stdout_callback = yaml
callbacks_enabled = profile_tasks, timer
retry_files_enabled = False
interpreter_python = auto_silent
vault_password_file = ~/.vault_pass

[ssh_connection]
pipelining = True
